/* GOOGLE FONTS IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*serif ~ Cormorant Garamond*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
/*serif ~ Fredericka the Great*/

/*colours:
red= #BB6464 --> main headings (h1)
brown= #766161 --> (p text)
blue= #2C363A --> less important headings (h2,3,4etc)
grey= #F3EEE5 --> background colour
green= #E1F1DD --> highlight text
*/
* {
    box-sizing: border-box;
    background-color: #F3EEE5;
}

h1 {
    color: #BB6464;
    font-family: Fredericka the Great, serif;
}

h2,
h3 {
    color: #766161;
    font-family: Cormorant Garamond, serif;
    font-size: 2rem;
}

h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    color: #766161;
    font-family: Cormorant Garamond, serif;
}

hr {
    color: #766161;
    margin-top: 2rem;
}

li {
    display: inline;
    padding-inline: 50px;
}

#logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.hover {
    font-family: Cormorant Garamond, serif;
    color: #766161;
    font-weight: bold;
    text-decoration: none;
    transition-property: color;
    transition-duration: 500ms;
    transition-delay: 100ms;
}

.hover:hover {
    color: #BB6464;
    text-decoration: underline;
}

/*HEADER*/

header {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #F3EEE5;
    object-fit: cover;
    font-family: Cormorant Garamond, serif;
    padding-top: 2rem;
}

header a {
    text-decoration: none;
    color: #BB6464;
}

nav {
    /*ul on nav bar*/
    font-size: 1.25rem;
    letter-spacing: 4px;
    list-style-type: none;
    margin-bottom: 1em;
}

.active {
    font-style: italic;
}


/*MAIN*/
main {
    /* MAKE MAIN ELEMENTS TAKE UP SPACE*/
    flex: 1 0 auto;
    padding-top: 2rem;
}

/* THE HERO IMAGE*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/the-library.jpg") no-repeat center center/cover;
    position: relative
}

.home {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home div {
    color: #fafafa;
    padding-top: 2rem;
    text-align: center;
    align-items: auto;
    flex-basis: 1rem;
    flex-grow: 1;
}

#wrap-vid {
    width: 300px;
    height: auto;
}

.home img {
    width: 300px;
    height: auto;
}

/*OPENING TIMES*/
#opening-table {
    font-family: Cormorant Garamond, serif;
    max-width: 300px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    justify-content: center;
}

#opening-table td:hover {
    color: #BB6464;
}

#opening-table table,
th,
td {
    border: 1px solid #766161;
    border-collapse: collapse;
    width: fit-content;
}

th {
    color: #BB6464;
    font-size: x-large;
}

td {
    color: #766161;
    font-size: large;
}

th,
td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*AVAILABLE.HTML*/
.fa-book-bookmark {
    font-size: 1.5rem;
    padding: 5%;
    color: #BB6464;
}

#popular {
    font-family: Cormorant Garamond, serif;
    color: #766161;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    content: max-content;
}

#available {
    width: 75%;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    justify-content: center;
}

#popular img {
    width: 135px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* BOOKSHELF */

/*DONATIONS*/

.shelf-img {
    width: 300px;
    height: auto;
}

#donations {
    display: flex;
    flex-wrap: wrap;
    text-align: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

#donations div {
    padding: 2rem;
    text-align: start;
    align-items: auto;
    flex-basis: 1rem;
    flex-grow: 1;
}

#favs {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

}

#favs div {
    padding: 2rem;
    text-align: end;
    align-items: auto;
    flex-basis: 1rem;
    flex-grow: 1;
}


/*FOOTER*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1rem;
}

#social-media {
    text-align: center;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 2rem;
}

#social-media i {
    font-size: 1.5rem;
    padding: 5%;
    color: #BB6464;
}

/*MEDIA QUERIES!!!*/

/* MEDIA QUERY -> MEDIUM SCREENS (768 PX AND UP) ----------------------------------------*/
@media screen and (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
    }

    nav {
        letter-spacing: 6px;
    }

    #hero {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #wrap-vid {
        width: 300px;
        height: 201px;
        padding-top: 2rem;
    }
    #available {
        column-count: 2;  
    }
    .shelf-img {
        width: 600px;
        height: auto;
    }
}

/* MEDIA QUERY -> M-LARGE SCREENS (1024 PX AND UP) ----------------------------------------*/
@media screen and (min-width: 1024px) {
    #hero {
        width: 100%;
    }

    nav {
        letter-spacing: 1px;
    }

    #wrap-vid {
        width: 500px;
        height: 300px;
        padding-top: 2rem;
    }

    .home img {
        width: 700px;
        height: auto;
    }

    .shelf-img {
        width: 950px;
        height: 600px;
    }
}

/* MEDIA QUERY -> L SCREENS (1200 PX AND UP) ----------------------------------------*/
@media screen and (min-width: 1200px) {
    #wrap-vid {
        width: 653px;
        height: 376px;
        padding-top: 2rem;
    }
    #available {
        column-count: 3;  
    }

}